@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.titulo_logo h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 30px;
    color: #000000c2;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    height: 10vh;
    border-bottom: 2px solid #000000;
}

.navbar_menu li{
    display: inline-block;
    margin: 10px;
    list-style: none;
}

a {
    color: #000000c2;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

.conteudo_principal {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 90vh;
    background-color:#FAEBD7;
}

.conteudo_texto h2{
    font-family: 'DM Serif Text', serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    width: 500px;
}

.conteudo_texto p {
    width: 500px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    color: #000000c2;
}


.conteudo_imagem img {
    width: 600px;
    margin-top: 20px;
}

.botoes_LM, .botoes_VP {
    margin-top: 30px;
    width: 130px;
    height: 50px;
    border: none;
    border: 2px solid #000000c2;
    font-size: 16px;
    font-weight: 700;
}

.botoes_VP {
    background-color: #ffffff;
}

.botoes_LM {
    background-color: #FAEBD7;
}

.botoes_LM:hover, .botoes_VP:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s all linear;
}



